.header{
    -fx-background-color: #6b0d36;
    -fx-border-width: .4px;
    -fx-border-color: #efefef;
}

.close-btn{
    -fx-background-color: transparent;
    -fx-border-width: .4px;
    -fx-border-color: #efefef;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.close-btn:hover{
    -fx-background-color: #d01e1e;
}

.minus-btn{
    -fx-background-color: transparent;
    -fx-border-width: .4px;
    -fx-border-color: #efefef;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.minus-btn:hover{
    -fx-background-color: #496dee;
}

.nav{
    -fx-background-color: #6b0d36;
}

.nav-btns{
    -fx-background-color: transparent;
    -fx-border-width: .4px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-color: #efefef;
}

.nav-btns:hover{
    -fx-border-color: #efefef;
}

.sair-btn{
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #d01e1e;
}

.sombra{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0)
}

.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.image-conteiner{
    -fx-background-color: #efefef;
    -fx-background-radius: 8px;
    -fx-border-width: 2px;
    -fx-border-color: #000;
    -fx-border-radius: 8px;
}

.caixinha{
    -fx-background-color: #489e49;
}

.caixinhaa{
    -fx-background-color: #489c90;
}

.table-view .table-column{
    -fx-alignment: CENTER;
    -fx-border-radius: 8px;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #444750, #c63636);
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-padding: 0px;
}

.table-view .column-header-background{
    -fx-background-color:#6b0d36;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0 0 0;
}

.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
    -fx-border-radius: 8px;
}

.table-view .column-header .label{
    -fx-text-fill: #fff;
}

.textfield{
    -fx-background-color: #e4e4e4;
    -fx-background-radius: 8px;
    -fx-border-width: .7px;
    -fx-border-radius:8px;
}

.textfield:hover{
    -fx-border-color: #000;
}

.datePiker{
    -fx-background-color: #e4e4e4;
    -fx-background-radius: 8px;
    -fx-border-width: .7px;
    -fx-border-radius:8px;
    -fx-border-color: #000;
}

.operacao-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 8px;
    -fx-border-color: #000;
    -fx-border-radius: 8px;
}

.operacao-btn:hover{
    -fx-background-color: #84e47f;
    -fx-border-color: #efefef;
    -fx-text-fill: #7c7c7c;
}

.vaga{
    -fx-border-width: 3px;
    -fx-border-radius: 8px;
    -fx-border-color: #6b0d36;
}

.vaga-card {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;

    -fx-font-family: "Arial Black";

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0, 0, 3);
    -fx-transition: all 0.2s;
}

.vaga-card:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 5);
}

.vaga-area {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #12ae27;
    -fx-font-family: "Arial Black";
}

.list-cell:selected {
    -fx-background-color: transparent;
}

.candidato-card {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;

    -fx-font-family: "Arial Black";

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0, 0, 3);
    -fx-transition: all 0.2s;
}

.candidato-card:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 5);
}

.candidato-area {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #12ae27;
    -fx-font-family: "Arial Black";
}

.list-cell:selected {
    -fx-background-color: transparent;
}

.comboStyle{
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: .4px;
    -fx-border-color: #000;
}

.importImage{
    -fx-background-color: #00178a;
    -fx-border-radius:4px;
    -fx-border-width: .4px;
    -fx-border-color: #000;
}

.imagemPerfilUsuario{
    -fx-background-color: transparent;
    -fx-border-width: 4px;
    -fx-border-color: #efefef;
}

.imageView{
    -fx-background-radius: 10px;
}